html {
    font-size: 12px; /* px means "pixels": the base font size is now 10 pixels high */
    font-family: "Courier", sans-serif; /* this should be the rest of the output you got from Google Fonts */
  }

h1 {
  font-size: 60px;
  text-align: center;
  color: #008F11;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: center;
  color: #008F11;
}

html {
    background-color: #F7E7CE;
  }

body {
    width: 800px;
    margin: 0 auto;
    background-color: #0D0208;
    padding: 0 20px 20px 20px;
    border: 5px solid #003B00;
  }

h1 {
    margin: 0;
    padding: 20px 0;
    color: #008F11;
    text-shadow: 3px 3px 1px #003B00;
  }

  img {
    display: block;
    margin: 0 auto;
  }